.list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 0.2rem;
    margin-bottom: auto;
    width: 100%;

    li {
        margin-top: 0.1rem;
        margin-bottom: auto;
        border-bottom: solid 0.06rem var(--givewp-grey-100);
    }

    a {
        color: #2271b1;
    }
}
