.pdf-sidebar-settings {
    .components-panel__row {
        margin-top: 0;
    }

    label {
        color: #0e0e0e;
        font-weight: normal !important;
        font-stretch: normal;
        font-style: normal;
        font-size: 0.688rem !important;
        margin-left: 0.1rem;
    }

    p {
        color: #595959;
        font-size: 0.75rem;
        margin-top: -2rem !important;
        margin-left: 0.1rem;
    }
}
